@media screen and (min-width: 260px) {
    .portfolio-component {
        width: 100%;
        height: 100%;
        min-height: 100vh;
        padding: 60px 20px 60px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .projects-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .projects-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;
        padding-bottom: 10px;
        
        position: absolute;
        bottom: 10px;


        .nav-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 99;
            width: 50px;
            height: 50px;
            font-size: 0.6rem;
            color: $txt-color;
            cursor: pointer;
            margin-top: 5px;
            border-radius: 15px;
            text-decoration: none;
            transition: background .2s linear;

            i {
                display: block;
                width: 20px;
                height: 20px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                margin-bottom: 7px;
                transition: transform .2s linear;
            }
            span {
                font-size: 0.60rem;
                font-weight: 400;
                text-decoration: none;
            }

            .web-ico {
                background-image: url(/src/utils/assets/icons/HomeIconSVG.svg);
                transform: scale(1.1);
            }
            .art-ico {
                background-image: url(/src/utils/assets/icons/ProjectsIconSVG2.svg);
            }
        }
        .nav-item:hover {
            transition: background .2s linear;
            background: $btn-hover-color;
        }
        .nav-item:hover i {
            transition: transform .2s linear;
            transform: scale(1.2);
        }
        .nav-item:hover .web-ico {
            transform: scale(1.3);
        }
        .nav-item--active .nav-item {
            background: $btn-hover-color;
            
            i {
                transform: scale(1.2);
            }
        }

        .nav-arrow {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 99;
            width: 50px;
            height: 50px;
            margin: 10px;
        }

        .left-arrow {
            background: url(/src/utils/assets/icons/chevron-left-solid.svg);
            background-repeat: no-repeat;
            cursor: pointer;
            background-position: center right;
            background-size: 30%;
        }
        .right-arrow {
            background: url(/src/utils/assets/icons/chevron-right-solid.svg);
            background-repeat: no-repeat;
            cursor: pointer;
            background-position: center left;
            background-size: 30%;
        }
    }
    
    .project-box {
        width: 100%;
        max-width: 350px;
        background: $btn-hover-color;
        border-radius: 15px;
    }
    
    .projects-column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        max-width: 350px;
        padding: 10px;
        padding-top: 0;
        padding-bottom: 0;
    
        .project-box {
            height: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
            position: relative;

            .art {
                width: 100%;
                height: 100%;
                border-radius: 15px;
                background-size: cover;
                background-position: center;
            }

            .art1 {
                background-image: url(/src/utils/assets/art1.jpg);
            }
            .art2 {
                background-image: url(/src/utils/assets/art2.jpg);
            }
            .art3 {
                background-image: url(/src/utils/assets/art3.jpg);
            }
            .art4 {
                background-image: url(/src/utils/assets/art4.jpg);
            }

            .desktop-mockup {
                width: 100%;
                height: 205px;
                background-size: cover;
                background-position: 8px 0;
            }

            .mobile-mockup {
                position: absolute;
                bottom: 14px;
                right: 15px;
                width: 80px;
                height: 130px;
                background-size: cover;
                background-position: center;
            }

            .web1 {
                background-image: url(/src/utils/assets/ZielonojemyDesktopMockup.png);
            }

            .web1-mobile {
                background-image: url(/src/utils/assets/ZielonojemyMobileMockup.png);
            }
            .web3-mobile {
                background-image: url(/src/utils/assets/BestShopMobileMockup.png);
            }
            .web4-mobile {
                background-image: url(/src/utils/assets/CosmoCodeMobileMockup.png);
            }

            .web2 {
                background-image: url(/src/utils/assets/PanelZielonojemyDesktopMockup.png);
            }
            .web3 {
                background-image: url(/src/utils/assets/BestShopDesktopMockup.png);
            }
            .web4 {
                background-image: url(/src/utils/assets/CosmoCodeDesktopMockup.png);
                background-position: 3px -13px;
            }

            .project-hover-box {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                background: $project-hover-box;
                transition: background .15s ease-in;
                border-radius: 15px;
                cursor: pointer;

                svg {
                    color: $bg-color;
                    font-size: 4.5rem;
                    position: absolute;
                    inset: 0;
                    margin: auto;
                    opacity: 0.3;
                    transition: color .15s ease-in;
                }
            }

            .project-hover-box:hover {
                background: $project-hover-box-hover;

                svg {
                    // opacity: 1;
                    color: $txt-color;
                }
            }
        }

        .web-box {
            padding: 10px 0px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
    }
}

@media screen and (min-width: 768px) {
    .portfolio-component {
        padding: 60px 80px;
        height: 100vh;
    }

    .projects-wrapper {
        flex-direction: row;
    }

    .projects-column {
        .project-box:nth-child(1) {
            height: calc(60% - 20px);
        }
        .project-box:nth-child(2) {
            height: 40%;
        }
    }

    .reverse-column {
        .project-box:nth-child(1) {
            height: 40%;
        }
        .project-box:nth-child(2) {
            height: calc(60% - 20px);
        }
    }   

    .projects-nav {
        width: auto;
        height: 100%;
        flex-direction: column;
        justify-content: flex-end;
        padding: 15px 15px 15px 10px;
        position: fixed;
        bottom: 0px;
        right: 0;
        top: 0;

        .nav-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 99;
            width: 60px;
            height: 60px;
            font-size: 0.7rem;
            color: $txt-color;
            cursor: pointer;
            margin-top: 5px;
            border-radius: 15px;
            text-decoration: none;
            transition: background .2s linear;

            i {
                display: block;
                width: 28px;
                height: 28px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                margin-bottom: 7px;
                transition: transform .2s linear;
            }
            span {
                font-size: 0.60rem;
                font-weight: 400;
                text-decoration: none;
            }

            .web-ico {
                background-image: url(/src/utils/assets/icons/HomeIconSVG.svg);
            }
            .art-ico {
                background-image: url(/src/utils/assets/icons/ProjectsIconSVG2.svg);
            }
        }
        .nav-item:hover {
            transition: background .2s linear;
            background: $btn-hover-color;
        }
        .nav-item:hover i {
            transition: transform .2s linear;
            transform: scale(1.2);
        }
        .nav-item--active .nav-item {
            background: $btn-hover-color;
            
            i {
                transform: scale(1.2);
            }
        }

    }

}

@media screen and (min-width: 1024px) {
    .portfolio-component {
        padding: 60px 120px;
    }

    .projects-wrapper {
        flex-direction: row;
    }

    .projects-column {
        .project-box:nth-child(1) {
            height: calc(60% - 20px);
        }
        .project-box:nth-child(2) {
            height: 40%;
        }
    }

    .reverse-column {
        .project-box:nth-child(1) {
            height: 40%;
        }
        .project-box:nth-child(2) {
            height: calc(60% - 20px);
        }
    }   
}