@media screen and (min-width: 260px) {
    .home-content {
        width: 100%;
        height: auto;
        color: $txt-color;
        padding: 60px;
        text-align: center;
        top: 60px;
        z-index: 100;
        
    
        h1 {
            font-size: 2.5rem;
            font-weight: 600;
            margin-bottom: 10px;
        }
        
        h1::after {
            content: 'Mars';
            color: $mars-color;
        }
    
        h2 {
            font-size: 1rem;
            font-weight: 400;
            padding-left: 3px;
        }
    }
}

@media screen and (min-width: 768px) {
    .home-content {
        top: 120px;
    
        h1 {
            font-size: 5rem;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 2.2rem;
        }
    }
    
}

@media screen and (min-width: 1280px) {
    .home-content {
        top: auto;
        bottom: 260px;
        text-align: left;
        padding-left: 180px;
    
        h1 {
            font-size: 5rem;
            margin-bottom: 20px;
        }
        
        h2 {
            font-size: 2.2rem;
        }
    }
}