@media screen and (max-width: 480px) {
    .footer-but-header {
        display: none !important;
    }
}

.footer-but-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 25px;
    color: $txt-color;
    
    h3 {
        font-size: 0.8rem;
        font-weight: 200;
        margin-right: 20px;
    }

    .social-media {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;

        &--icon {
            margin-left: 10px;

            a {
                text-decoration: none;
                color: $txt-color;
            }
        }
    }
}