//main website colors
$bg-color: #1a1a18;
$txt-color: #ebebeb;
$rev-bg-color: #ffffff;
$rev-txt-color: #1a1a18;
$btn-hover-color: #212121;
$project-hover-box: #212121b4;
$project-hover-box-hover: #212121de;
$scroll-icon-background: #000000a9;
$scroll-border: #d4d4d4a9;
$mars-color: #BC2732;
$menu-background: #1a1a18d9;
$smb-text: #6d6d6d;