@media screen and (min-width: 260px) {
    .contact-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: $txt-color;
        padding: 5px;
        border-radius: 15px;
        width: 100%;
        position: relative;
    }

    .message-send-info {
        position: absolute;
        top: -20px;
        text-align: center;
        font-size: 0.9em;
        font-weight: 200;
        width: 100%;
        line-height: 1.2rem;
        opacity: 0;
        transition: opacity 1s ease;
    }

    .active {
        opacity: 1;
    }

    .loading-circle {
        position: absolute;
        inset: 0;
        margin: auto;
        border: 5px solid $btn-hover-color; /* Light grey */
        border-top: 5px solid $txt-color; /* Blue */
        border-radius: 50%;
        width: 40px;
        height: 40px;
        -webkit-animation: spin 2s linear infinite;
        -moz-animation: spin 2s linear infinite;
        -o-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    
    .contact-form--title {
        color: $txt-color;
        font-weight: 400;
        margin-bottom: 40px;
    }
    
    .input-group {
        width: 100%;
        position: relative;
        padding: 10px 0 0;
        margin-top: 10px;
    }
    
    .privacy-policy--wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-top: 10px;
        font-size: 0.6rem;

        a {
            color: $mars-color;
        }
    }
    
    input,
    textarea,
    button {
        color: $txt-color;
        font-size: 1rem;
        letter-spacing: 1px;
        width: 100%;
        padding: 5px 0 3px 3px;
        border: none;
        border-bottom: 1px solid $txt-color;
        margin-bottom: 8px;
        background: transparent;
        resize: none;
        outline: none;
    }
    
    input,
    textarea {
        font-weight: 200;
        &::placeholder {
            color: transparent;
        }
        &:placeholder-shown ~ .form-label {
            font-size: 1rem;
            cursor: text;
            top: 18px;
        }
    }
    
    input:focus ~ .form-label,
    textarea:focus ~ .form-label {
        position: absolute;
        font-size: 0.7rem;
        top: -2px;
    }
    
    .form-label {
        position: absolute;
        top: -2px;
        display: block;
        transition: 0.2s;
        font-size: 0.7rem;
        color: $txt-color;
    }
    
    textarea {
        min-height: 150px;
    }
    
    button {
        background: $btn-hover-color;
        border: none;
        color: $txt-color;
        border-radius: 15px;
        cursor: pointer;
        margin-top: 15px;
        padding: 7px;
        width: 100%;
    }

    .form-errors-box {
        width: 100%;
        min-height: 60px;
        display: flex;
        flex-direction: column;
        font-size: 0.6rem;
        color: $mars-color;

        .form-error {
            padding: 5px;
        }
    }
        
    input:focus:-webkit-autofill {
        -webkit-text-fill-color: $txt-color;
        box-shadow: 0 0 0px 1000px $bg-color inset;
        -webkit-box-shadow: 0 0 0px 1000px $bg-color inset;
    }
    input:focus:-moz-autofill {
        -moz-text-fill-color: $txt-color;
        box-shadow: 0 0 0px 1000px $bg-color inset;
        -moz-box-shadow: 0 0 0px 1000px $bg-color inset;
    }
    input:focus:-o-autofill {
        -o-text-fill-color: $txt-color;
        box-shadow: 0 0 0px 1000px $bg-color inset;
        -o-box-shadow: 0 0 0px 1000px $bg-color inset;
    }
    input:focus:-khtml-autofill {
        -khtml-text-fill-color: $txt-color;
        box-shadow: 0 0 0px 1000px $bg-color inset;
        -khtml-box-shadow: 0 0 0px 1000px $bg-color inset;
    }
    input:-webkit-autofill-selected {
        color: white !important;
    }
    input:-webkit-autofill-previewed {
        color: white !important;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -khtml-text-fill-color: $txt-color;
        -webkit-text-fill-color: $txt-color;
        box-shadow: 0 0 0px 1000px transparent inset;
        -khtml-box-shadow: 0 0 0px 1000px $bg-color inset;
        transition: background-color 5000s ease-in-out 0s;
    }
}

@media screen and (min-width: 760px) {
    .privacy-policy--wrapper {
        font-size: 0.9rem;
    }

    .message-send-info {
        top: -40px;
        font-size: 1.5rem;
        font-weight: 200;
        line-height: 1.5rem;
        opacity: 0;
        transition: opacity 1s ease;
    }

    .active {
        opacity: 1;
    }

    .loading-circle {
        width: 60px;
        height: 60px;
    }

    .form-errors-box {
        min-height: 90px;
        font-size: 0.9rem;
    }

    textarea {
        min-height: 200px;
    }
    button {
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 1024px) {
    .contact-form {
        max-width: 600px;
    }
    button {
        margin-bottom: 10px;
    }
}